---
import { pagesContent } from '../../data/pages';
import Layout from '../../layouts/Layout.astro';

interface Props {
  lang: 'es' | 'en' | 'ca';
}

const { lang } = Astro.props;
const content = pagesContent.privacy[lang];
---

<Layout
	title={`${content.title} | Pedra Tallada`}
	description={content.title}
>
	<section class="max-w-3xl mx-auto py-12 md:py-20 px-4">
		<h1 class="text-3xl md:text-4xl font-serif text-stone-900 mb-8">{content.title}</h1>
		<div class="prose prose-stone">
			<p set:html={content.intro} />
			
            <h3>{content.collection_title}</h3>
			<p>{content.collection_text}</p>
			
            <h3>{content.use_title}</h3>
			<p>{content.use_text}</p>
			
            <h3>Contact</h3>
			<p>{content.contact}</p>
		</div>
	</section>
</Layout>
